openapi: 3.0.3
info:
  title: PinPaw BFF API
  version: 1.1.0
  description: PinPaw Service API for Next.js BFF
servers:
  - url: https://api.pinpaw.com/v1
security:
  - BearerAuth: []

paths:
  /sightings/upload-url:
    post:
      operationId: createUploadUrl
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [filename, fileType, fileSize]
              properties:
                filename: { type: string }
                fileType: { type: string }
                fileSize: { type: integer, maximum: 10485760 }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  uploadUrl: { type: string }
                  imageUuid: { type: string }

  /sightings:
    post:
      operationId: createSighting
      requestBody:
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/SightingCreateRequest'
      responses:
        '201':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SightingResponse'

  /sightings/{id}:
    delete:
      operationId: deleteSighting
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      responses:
        '204':
          description: No Content
    patch:
      operationId: updateSightingStatus
      parameters:
        - name: id
          in: path
          required: true
          schema: { type: string, format: uuid }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                status:
                  type: string
                  enum: [open, matched, closed]
      responses:
        '200':
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SightingResponse'

  /map/markers:
    get:
      operationId: getMapMarkers
      parameters:
        - name: bbox
          in: query
          required: true
          schema: { type: string }
        - name: If-None-Match
          in: header
          schema: { type: string }
      responses:
        '200':
          headers:
            ETag: { schema: { type: string } }
          content:
            application/json:
              schema:
                type: object
                properties:
                  markers:
                    type: array
                    items:
                      $ref: '#/components/schemas/MapMarker'
        '304':
          description: Not Modified

  /recommend:
    get:
      operationId: getRecommendations
      parameters:
        - name: lostPostId
          in: query
          required: true
          schema: { type: string, format: uuid }
      responses:
        '200':
          content:
            application/json:
              schema:
                type: object
                properties:
                  results:
                    type: array
                    items:
                      $ref: '#/components/schemas/RecommendationResult'

  /recommend/feedback:
    post:
      operationId: submitRecommendationFeedback
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              required: [lostPostId, sightingId, type]
              properties:
                lostPostId: { type: string, format: uuid }
                sightingId: { type: string, format: uuid }
                type: { type: string, enum: [positive, negative] }
                reason: { type: string }
      responses:
        '201':
          description: Created

components:
  securitySchemes:
    BearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT

  schemas:
    SightingCreateRequest:
      type: object
      required: [imageUuid, latitude, longitude, description, discoveredAt]
      properties:
        imageUuid: { type: string, format: uuid }
        latitude: { type: number }
        longitude: { type: number }
        discoveredAt: { type: string, format: date-time }
        description: { type: string }
        breed: { type: string }
        color: { type: string }
        wearing: { type: array, items: { type: string } }

    SightingResponse:
      type: object
      properties:
        id: { type: string, format: uuid }
        imageUrl: { type: string }
        status: { type: string, enum: [open, matched, closed] }
        location:
          type: object
          properties:
            lat: { type: number }
            lng: { type: number }
            address: { type: string }
        attributes:
          type: object
          properties:
            breed: { type: string }
            color: { type: string }
            wearing: { type: array, items: { type: string } }

    MapMarker:
      type: object
      properties:
        id: { type: string }
        type: { type: string, enum: [lost, sighting] }
        lat: { type: number }
        lng: { type: number }
        status: { type: string }

    RecommendationResult:
      type: object
      properties:
        sighting: { $ref: '#/components/schemas/SightingResponse' }
        score: { type: number }
        matchReasons: { type: array, items: { type: string } }
